/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : PaktorGoWhere
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400);

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    background: #E7E7EE;
    
}

.overlay {
    position:fixed;
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#mainSection {
    padding: 30px 0px;
    color: #fff;
}

#logoSection {
    padding: 40px 10px 40px;
    
}

.login-panel {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(248,248,248,0.9);    
    -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .1);
          box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .1);
    margin-top: -50px;
}

.login-body {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    color: #444;
}

.login-footer {
    padding: 10px 10px 10px;
    border-top: 2px solid #ddd;
}

/* Custom Buttons */
.btn-circle {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #269abc;
}

.btn-circle:hover {
    color: #fff;
}

/* Button Background colors */
.bg-red,
.bg-red-2,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}
.bg-gray {
    background-color: #eaeaec !important;
}
.bg-black {
    background-color: #222222 !important;
}
.bg-red {
    background-color: #f56954 !important;
}
.bg-red-2 {
    background-color: #d01716 !important;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.bg-blue {
    background-color: #0073b7 !important;
}
.bg-light-blue {
    background-color: #3c8dbc !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-navy {
    background-color: #001f3f !important;
}
.bg-teal {
    background-color: #39cccc !important;
}
.bg-olive {
    background-color: #3d9970 !important;
}
.bg-lime {
    background-color: #01ff70 !important;
}
.bg-orange {
    background-color: #ff851b !important;
}
.bg-fuchsia {
    background-color: #f012be !important;
}
.bg-purple {
    background-color: #932ab6 !important;
}
.bg-maroon {
    background-color: #85144b !important;
}

.btn-default {
  color: #f5f5f5;
  background-color: #fa2255;
  border-color: #ef1e4f;
  border-bottom-width: 5px;
  font-weight: 600;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #fb446f;
  border-color: #f0416a;
}
/*=============================================================
    FONT SIZES
=============================================================*/
.heading-20 {
    font-size: 2em;
}

.heading-14 {
    font-size: 1.4em;
}

.heading-12 {
    font-size: 1.2em;
}

.heading-10 {
    font-size: 1em;
}

.heading-09 {
    font-size: 0.9em;
}

.heading-08 {
    font-size: 0.8em;
}

.heading-07 {
    font-size: 0.7em;
}

.heavy-600 {
    font-weight: 600;
}

.heavy-700 {
    font-weight: 700;
}

.pink-color {
    color: #fa2255;    
}


