/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : PaktorGoWhere
*/
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);
@import url(http://fonts.googleapis.com/css?family=Quicksand:700);


.navbar {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    z-index: 99;
}

.menu-left {
    padding-top: 13px;
    padding-bottom: 15px;
    padding-left: 25px;
}

.menu-left:hover {
    cursor: pointer;
}

.menu-left a {
    color: #fff;
    text-decoration: none;
}

.menu-right {
    padding-top: 12px;
    padding-bottom: 15px;
    padding-right: 25px;
    
}

.menu-right:hover {
    cursor: pointer;
}

.menu-right a {
    font-size: 1.6em;
    line-height: 2em;
}

