/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2014, 7:21:12 PM
    Author     : user
*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:700);
/* Side Menu */

#sidebar-wrapper {
    z-index: 2000;
    position: fixed;
    right: 0;
    width: 300px;
    height: 100%;
    margin-right: -300px;
    overflow-y: hidden;
    background-color: #32353b;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: 2px;
    overflow-y: auto;
}

#sidebar-wrapper.active {
    right: 300px;
    width: 300px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.9);
}

.sidebar-body {
    color: #fff;
}

.sidebar-body .user-panel {
    height: 120px;
    padding: 20px 0px 10px;
    background-color: #000;
    background-image: url("../img/profilebg/bg-pic-2.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 400px;
    -moz-background-size: 400px;
    -o-background-size: 400px;
    background-size: 400px;
}

@media (min-width: 768px) {
    
    .sidebar-body .user-panel {
        height: 120px;
        padding: 20px 0px;
        background-color: #000;
        background-image: url("../img/profilebg/bg-pic-2.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.sidebar-body .sidebar-menu {
    
}

.sidebar-body .sidebar-menu ul {
    list-style: none;
    padding-left: 0px;
}

.sidebar-body .sidebar-menu li {
    line-height: 50px;
    font-size: 1.2em;
    /*font-weight: 500;*/
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    display: block;    
    padding: 10px 20px;
    border-bottom: 2px solid #24262a;
    border-top: 2px solid #2e3137;
}

.sidebar-body .sidebar-menu li:hover {
    background-color: #282a2f;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #24262a;
    border-top: 2px solid #24262a;
}

.sidebar-body .sidebar-menu li i {
    font-weight: 100;
    color: #fa2255;
}

.sidebar-body .sidebar-menu li a {
    display: block;
    text-decoration: none;
    color: #c2c1c1;
}
.sidebar-body .sidebar-menu li a:hover {
    display: block;
    text-decoration: none;
    color: #f7f7f7;
}


.toggle {
    margin: 5px 5px 0 0;
}

.panel-pic {
    height: 65px;
    width: auto;
}

.user-panel-text {    
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
